
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card" style="height: 400;">
            <img style="height: 380px;" src="https://image1.jdomni.in/product/15082020/85/76/50/F59D9D9B478A98CFF64C70C0C4_1597496043918.jpg?fit=around|500:500" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">पेशवाई साडी</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" style="height: 400;">
            <img style="height: 380px;"  src="https://i.pinimg.com/564x/df/6e/fa/df6efa82d3ab22cc9c2047839145896b.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">पेशवाई साडी</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card" >
            <img style="height: 380px;" src="https://i.pinimg.com/236x/63/9f/c3/639fc358617ec16845d5bb8c8674170c--saree.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">पेशवाई साडी</h5>
           
            </div>
          </div>
        </div>
      </div>
</div>


