
<div>
    <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card">
            <img style="height: 380px;" src="https://i.pinimg.com/originals/41/91/16/419116180c02dce8a53399595ac6eea2.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">मस्तानी साडी</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img style="height: 380px;" src="https://m.media-amazon.com/images/I/61OpvyJZ7ZL.jpg" class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">मस्तानी साडी</h5>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <img style="height: 380px;" src="https://assets.ajio.com/medias/sys_master/root/20210708/SeFH/60e649b8aeb269a9e33d3533/-1117Wx1400H-462610910-pink-MODEL.jpg"  class="card-img-top" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">मस्तानी साडी</h5>
           
            </div>
          </div>
        
          </div>
          <div class="col">
            <div class="card">
              <img style="height: 380px;" src="https://assets0.mirraw.com/images/8816859/Z7dvvGa_zoom.jpg?1616394343" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">मस्तानी साडी</h5>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card">
              <img style="height: 380px;" src="https://m.media-amazon.com/images/W/MEDIAX_792452-T2/images/I/71gLjzjkBqL._AC_SR175,263_QL70_.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">मस्तानी साडी</h5>
              </div>
            </div>
          </div>
      </div>
</div>

